<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="jful.net.dynamiclistview.example" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".SimpleDynamicListExample" />
        <activity android:name=".SectionDynamicListExample" />
        <activity android:name=".FixedHeaderSectionDynamicListExample" />
        <activity android:name=".ScrollBackgroundSectionDynamicListExample" />
        <activity android:name=".PullToRefreshListExample" />
        <activity android:name=".PullToRefreshSectionListExample" />
        <activity android:name=".ScrollViewExample" />
        <activity android:name=".RecyclerViewExample" />
    </application>

</manifest>
